<div class="container co1 mt-5">
  <div class="row">
      <div class="col-sm-9">
        <div class="addRow" >
          <i class="fas fa-plus "></i><a href="#"  (click)="formEnabled()">ADDROW</a>
        </div>
        
        <div class="search">
          <input name="search" placeholder="Search here ..." [(ngModel)]="searchText" type="text" minlength="15" size="32">
        </div>
        <div class="tableForm">
          <table class="table table-bordered">
            <thead class="thead-dark" style="font-weight: bold;">
                <tr>
                  <th >Name</th>
                  <th >Roll No</th>
                  <th >Address</th>
                  <th >Department</th>
                  <th >Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of users;let i=index">
                  <th>{{item.name}}</th>
                  <th>{{item.rollno}}</th>
                  <th>{{item.address}}</th>
                  <th>{{item.dept}}</th>
                  <th><a href="#" (click)="dataOnform(item)"> Edit </a></th>
                  <th><a href="#" (click)="removeStudent(item,i)"> delete </a></th>
               </tr>
              </tbody>
            </table>
      </div>
      <div class="col-sm-3">
        <div>
          EditConfigDetails
          <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
            <div class="form-group">
              <label for="my-input1">Name</label>
              <input id="my-input1" 
              value="{{this.user1.name}}"
              [disabled]="!showSave==true"
                [(ngModel)]="user1.name"
                class="form-control form-control-sm textCol"
                #name="ngModel" 
              class="form-control form-control-sm textCol" 
              type="text"
              name="name"
              required
              minlength="1">
            </div>
            <div class="form-group">
                <label for="my-input2">Roll No*</label>
                <input id="my-input2" 
                [disabled]="!showSave==true"
                [(ngModel)]="user1.rollno"
                class="form-control form-control-sm textCol"
                #rollno="ngModel" 
                [ngClass]="{'is-invalid':paramCode?.errors && paramCode?.touched}"
                type="text"
                name="rollno"
                required
                minlength="1">
                <div [hidden]="rollno?.errors?.required" class="invalid-feedback">
                  invalid rollno length at least 1
                </div>
                <div [hidden]="rollno?.errors?.minlength" class="invalid-feedback">
                  ParamCode required
                </div>
              </div>
            <div class="form-group">
                  <label for="">Address</label>
                  <input  [disabled]="enableAddUser" type="text" name="" id="" class="form-control" placeholder="">
            </div>
           <div class="form-group">
             <label for="my-select">Dept</label>
             <select id="my-select"  [disabled]="enableAddUser" class="custom-select form-control">
               <option value="IT">IT</option>
               <option value="CS">CS</option>
               <option value="MECH">MECH</option>
               <option value="INST">INST</option>
             </select>
           </div>
           <div class="form-group">
             <button class="btn btn-light colorbutton" >Save</button>
             <button class="btn btn-light colorbutton">clear</button>
           </div>
          </form>
      </div>
  </div>
</div>
<ng-template #thenBlock>
  Already Adding users
</ng-template>