<div class="container co1 mt-5">
  <div class="row">
      <div class="col-sm-9">
        <div class="addRow" >
          <i class="fas fa-plus "></i><a href="#"  (click)="formEnabled()">ADDROW</a>
        </div>
        
        <div class="search">
          <input name="search" placeholder="Search here ..." [(ngModel)]="searchText" type="text" minlength="15" size="32">
        </div>
        <div class="tableForm">
          <table class="table table-bordered">
            <thead class="thead-dark" style="font-weight: bold;">
                <tr>
                    <td>Name</td>
                    <td>Roll No</td>
                    <td>Address</td>
                    <td>Department</td>
                    <td>Action</td>
                  </tr>
            </thead>
            <tbody *ngFor="let item of users | dataFilter:searchText;let i=index" (click)="atForm(i)">
              <tr>
                  <td>{{item.name}}</td>
                  <td>{{item.rollno}}</td>
                  <td>{{item.address}}</td>
                  <td>{{item.dept}}</td>
                  <td><a href="#"  (click)="removeUser(item,i)"><i class="fa fa-trash addRow" aria-hidden="true"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          EditConfigDetails
          <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
            <div class="form-group">
              <label for="my-input1">Name</label>
              <input id="my-input1" 
              value="{{this.user1.name}}"
              [disabled]="!showSave==true"
                [(ngModel)]="user1.name"
                class="form-control form-control-sm textCol"
                #name="ngModel" 
              class="form-control form-control-sm textCol" 
              type="text"
              name="name"
              required
              minlength="1">
            </div>
            <div class="form-group">
                <label for="my-input2">Roll No*</label>
                <input id="my-input2" 
                [disabled]="!showSave==true"
                [(ngModel)]="user1.rollno"
                class="form-control form-control-sm textCol"
                #rollno="ngModel" 
                [ngClass]="{'is-invalid':paramCode?.errors && paramCode?.touched}"
                type="text"
                name="rollno"
                required
                minlength="1">
                <div [hidden]="rollno?.errors?.required" class="invalid-feedback">
                  invalid rollno length at least 1
                </div>
                <div [hidden]="rollno?.errors?.minlength" class="invalid-feedback">
                  ParamCode required
                </div>
              </div>
            <div class="form-group">
                  <label for="my-input3">Address*</label>
                  <input id="my-input3" 
                  [disabled]="!showSave==true"
                  [(ngModel)]="user1.address"
                  
                  class="form-control form-control-sm textCol" 
                  #address="ngModel"
                  [ngClass]="{'is-invalid':address?.errors && address?.touched}"
                  type="text"
                  name="address"
                  required
                  minlength="4">
                  <div [hidden]="address?.errors?.required" class="invalid-feedback">
                    invalid addresss length at least 4
                  </div>
                  <div [hidden]="address?.errors?.minlength" class="invalid-feedback">
                    Address required
                  </div>
             </div>
             <div class="form-group">
               <label for="dept" >Department*</label>
               <select id="dept"  [disabled]="!showSave==true" class="form-control form-control-sm textCol"
               #selectValue="ngModel"
               [ngClass]="{'is-invalid': selectValue?.errors && selectValue?.touched}"
               [(ngModel)]="user1.dept" name="dept"
               required>
                  <option></option>
                  <option value="IT" >IT</option>
                  <option value="CS">CS</option>
                  <option value="IT" >MECH</option>
                  <option value="CS">PROD</option>
                </select>
                <div [hidden]="!selectValue?.errors?.required" class="invalid-feedback">
                  Select Field required
                </div> 
             </div>
             <div class="form-group">
                 <div class="row mt-1">
                   <div class="col-sm-6">
                    <button type="button"
                    [disabled]="!showSave" 
                    class="btn btn-default form-control form-control-sm" 
                  [ngClass]="{'hiddenClass':'showSave==true'}" (click)="onSubmit(userForm)">Save</button>
                   </div>
                   <div class="col-sm-6">
                      <button type="button" class="btn btn-default form-control form-control-sm" style="
                      /* background: #E5D8E1; */
                      background: #DCDCE4;"
                  (click)="clearAll(userForm)">Cancel</button>
                    </div>
                 </div>
               
             </div>
        </form>
        </div>
      </div>
  </div>
</div>
<ng-template #thenBlock>
  Already Adding users
</ng-template>